{% extends "base_logged_in.html" %}

{% comment %}
Template for viewing a resume.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
      max-width: 800px;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    section.resume-item {
      margin-top: 36px;

      position: relative;
    }

    section.resume-item > a.btn-success {
      position: absolute;
      right: 0;
      top: 0;
    }

    div.resume-container > a.btn-success {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">
    <div class="header-center-container">
      <div class="header-container">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h3>{{ request.user.email }}</h3>
      </div>
    </div>

    <h2>Resumes</h2>
    {% for resume in resumes %}
      <div class="row resume-item">
          <div class="col-sm-3 font-weight-bold">{{ resume.name }}</div>
          <div class="col-sm-3 font-weight-bold">{{ resume.item_count }} item{{ resume.item_count|pluralize }}</div>
          <div class="col-sm-3">
              <a class="btn btn-primary" href="{% url 'resume-view' resume.id %}">View</a>
          </div>
          <div class="col-sm-3">
              <a class="btn btn-default" href="{% url 'resume-edit' resume.id %}">Rename</a>
          </div>
        </div>
    {% endfor %}

    <a class="btn btn-success" href="{% url 'resume-create' %}">Create New Resume</a>
  </div>
{% endblock %}
